[user]
	email = bohdan.buchok@internetbrands.com
	name = Bohdan Buchok
[init]
	defaultbranch = main
[pull]
	rebase = true
[diff]
  wsErrorHighlight = all
  renames = true
[core]
	editor = nvim
  ; pager = delta
	sshCommand = ssh -i ~/.ssh/github-2
; [interactive]
;     diffFilter = delta --color-only
; [delta]
;     navigate = true  # use n and N to move between diff sections
;     dark = true      # or light = true, or omit for auto-detection
; [merge]
;     conflictStyle = zdiff3
[alias]
	shl = log --pretty=oneline --abbrev-commit
  ci = commit -v
  dl = -c diff.external=difft log -p --ext-diff
  ds = -c diff.external=difft show --ext-diff
  dft = -c diff.external=difft diff
  dl = -c diff.external=difft log -p --ext-diff
  dsh = -c diff.external=difft -c difftool.prompt=false show --ext-diff

  acp = "!f() { \
      git add . && \
      git commit -m \"$1\" && \
      git push; \
  }; f"
[pager]
	branch = false
[color]
  diff = 34
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[color "branch"]
  remote = 89
  current = 214
  local = white
[color "diff"]
    new = 155
    old = 124
    meta = 214
    frag = 214
    whitespace = reverse
[color "status"]
    added = 155
    changed = 124
    untracked = 124
    branch = white
; [color "interactive"]
;   header = "yellow bold"
;   prompt = "green"
;   selector = "cyan bold"

[status]
	hints = false
[advice]
  statusHints = false
  detachedHead = false
[push]
	autoSetupRemote = true
[credential]
	helper = store
