[user]
	email = bohdanbuchok@gmail.com
	name = Bohdan Buchok
[core]
	editor = nvr --remote-tab-wait +'set bufhidden=wipe'
  fsmonitor = true
  hooksPath = ~/pers/.githooks
[alias]
	clonew = "!sh git_clone_for_worktrees"
	shl = log --pretty=oneline --abbrev-commit

  ci = commit -v

  acp = "!f() { \
      git add . && \
      git commit -m \"$1\" && \
      git push; \
  }; f"
[init]
	defaultbranch = main

[pull]
	rebase = true
  ; ff = only
[diff]
  wsErrorHighlight = all
  renames = true
  mnemonicprefix = true
  compactionHeuristic = true
  submodule = log
[status]
  branch = true
	hints = false
  showUntrackedFiles = all
[commit]
  template = ~/pers/dotfiles/.git_commit_msg_template.txt
  cleanup = strip
[pager]
	branch = false
[advice]
  statusHints = false
  detachedHead = false
[push]
	autoSetupRemote = true
  default = simple
[credential]
	helper = store
[merge]
  ; conflictstyle = diff3
[rerere]
  enabled = true

[color]
  diff = 34
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[color "branch"]
  remote = 89
  current = 214
  local = white
[color "diff"]
    new = 155
    old = 124
    meta = 214
    frag = 214
    whitespace = reverse
[color "status"]
    added = 155
    changed = 124
    untracked = 124
    branch = white

[filter "gpg"]
   clean = ~/pers/scripts/gpg-clean %f
   smudge = ~/pers/scripts/gpg-smudge
   required = true
[diff "gpg"]
	textconv = ~/pers/scripts/gpg-diff
  cachedtextconv = true

[includeIf "gitdir:~/dev/ib/"]
[user]
	email = bohdan.buchok@internetbrands.com
