Desktop/*
!Desktop/.gitkeep

Documents/*
!Documents/.gitkeep

Downloads/*
!Downloads/.gitkeep

Music/*
!Music/.gitkeep

Pictures/*
!Pictures/.gitkeep
!Pictures/main_gif.gif
!Pictures/mariupol.jpg
!Pictures/sun-with-face.png

Public/*
!Public/.gitkeep

Templates/*
!Templates/.gitkeep

Videos/*
!Videos/.gitkeep
