-----BEGIN PGP MESSAGE-----

hF4D7/9t5OpFi7oSAQdAimQ8yNrnuT5Zi3YoVjDrWa5MLyQBBjo7/E4RLfvAN2Qw
7OgxAG2VJQ1r/vEpY/R7NU2y06zMajhx69RF5FfynRKOEW/dmnCRFt6xuuE2SUeF
0pMBcs+yqxd0UuRtqYgXewqr9ldko0litDrT/IVlRH/p6wFWfYz6BMDXrjZzzeK6
CqlLtjpNicfd1UeUixUcT3PpfA5G5ikgpPbBqltHKonmZzYZ43xpHKHN4LB6rzEI
lmjVNp04QFBmqxdCUFLJbfYsnbEX+WNYTeRWpP5ZWQr5+2PHU5eArZuUsD7OPDD9
E37Bqxs=
=99XQ
-----END PGP MESSAGE-----
