-----BEGIN PGP MESSAGE-----

hF4D7/9t5OpFi7oSAQdAgH0BfzAl3NG9iF3fciWFb2jX/GdfUW5UtQu/nWwk7Qow
caF0gyIrSSzVpq5PvdFV5i2tOR6g5cqrdEDhJjcelC0PXRQW20iotu0iEX5wduV1
0pMBjeJAQ4Ds+NZ/yCZIMXuAvscFv2I6AhkBeerK9477cazoo0j7S8/M4QNNPqDH
7mhu7KAaYnximMYJXf8srxFqpZnCZsFQUkYEHsvP451rm+RRSecXSbAU3kaI/HDG
SPbA7kEMs7NwfwKgmYuVeVncPj+wLkGG+hIXoVHHtpOGlS/3bcDyMcSAmzmzM37r
H+uK0Mk=
=D45E
-----END PGP MESSAGE-----
