-----BEGIN PGP MESSAGE-----

hF4D7/9t5OpFi7oSAQdALzNaD/wnK6jp2cmT5mBjWOQn6XJqL50f+vP57p5H1Hsw
KE+puoGlcgsClZXAT0hnCJxo77NtGGXvFQ/Wq/bXgKrUfNCywnSZDTtFlZ9jqJq9
0rIBz+SDNnZLwOOccQIp9TVN6ijz0DpT0eIqUs3rQTuKr6fhs2MPQz/sWSVEvxi9
hcu3H8hVcPk8Ipy3F9fLR2S4JvemLhsBQ5odg5japYKUjX1XFVNoa3gLo9HjBXDD
ooO6d+NveFDmcfriVAe3/18V6ecw0TWmdweg8lMt0g5pEkGpG+awgzdxhP7Hl53t
nLMwYt6gj176YiLowNJIUziCTBBCAtGfnDzDud2El1VLoPW7
=q78H
-----END PGP MESSAGE-----
