### Localization
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us

### Network configuration
d-i netcfg/get_domain string local
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/enable boolean true
d-i netcfg/confirm_static boolean true

### Account setup
d-i passwd/root-login boolean true
d-i passwd/root-password password admin
d-i passwd/root-password-again password admin

d-i passwd/user-fullname string Bohdan Buchok
d-i passwd/username string bchk
d-i passwd/user-password password admin
d-i passwd/user-password-again password admin

### Mirror
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i mirror/suite string stable

### Clock and time zone
d-i clock-setup/utc boolean true
d-i time/zone string America/New_York
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server string 0.debian.pool.ntp.org

### Partitioning
d-i partman-auto/method string lvm
d-i partman-auto-lvm/guided_size string max
d-i partman-auto-lvm/new_vg_name string vg00

d-i partman-auto/choose_recipe select multi

d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

### Base system installation
d-i base-installer/install-recommends boolean false
d-i base-installer/kernel/image string linux-image-amd64

### Apt setup
d-i apt-setup/non-free-firmware boolean true
d-i apt-setup/non-free boolean false
d-i apt-setup/contrib boolean false
d-i apt-setup/enable-source-repositories boolean false
d-i apt-setup/services-select multiselect security, updates
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/use_mirror boolean true

### Package selection
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string sudo vim curl wget net-tools htop
d-i pkgsel/upgrade select safe-upgrade
d-i pkgsel/update-policy select none
popularity-contest popularity-contest/participate boolean false

### Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/bootdev string default

d-i grub-installer/force-efi-extra-removable boolean true

### Finishing up
d-i finish-install/reboot_in_progress note
d-i debian-installer/exit/poweroff boolean false

d-i preseed/late_command string cp /cdrom/post-setup.sh /target/tmp/; in-target chmod +x /tmp/post-setup.sh; in-target /bin/bash /tmp/post-setup.sh;

