.gsd-keyboard.settings-ported
PostmanAgent
Asterix
glab-cli
org.gnome.Ptyxis/
Code
enchant
MongoDB Compass
QtProject.conf
keepassxc
yelp/
go/
pulse/
evolution/
gnome-initial-setup-done
gtk-3.0/
ibus/

google-chrome

dconf
mimeapps.list

chromium
libvirt
gnome-boxes
