.gsd-keyboard.settings-ported
dleyna-server-service.conf
Demandforce Live
configstore
qBittorrent
helm
PostmanAgent
tailscale/ssh_known_hosts
Asterix
glab-cli
org.gnome.Ptyxis/
Code
enchant
MongoDB Compass
QtProject.conf
keepassxc
yelp/
go/
pulse/
evolution/
gnome-initial-setup-done
gtk-3.0/
ibus/

google-chrome

dconf
mimeapps.list

chromium
libvirt
gnome-boxes
