.gsd-keyboard.settings-ported
yelp/
go/
pulse/
evolution/
gnome-initial-setup-done
gtk-3.0/
ibus/

google-chrome
!google-chrome/Default/Extensions/Sync Extension Settings/dbepggeogbaibhgnhhndojpepiihcmeb

dconf
mimeapps.list
