-----BEGIN PGP MESSAGE-----

hF4D7/9t5OpFi7oSAQdAuHzNT3DbBfwf8F6lu0uEnBEKzovInxQ82LQFq6OmbVsw
CSskKsGp7HDogTz3yLeWtg6AcaMVa8vPSIFJTZk3im4yk1KcjvPHDCao2gq7BBGH
0sBpAav1BJRstFm3DHH9See3BpPrEOEVEC70kZDG6Vqw8ZQ9pmCqtxjl3pBG8ZkJ
rRDlZulUJz5Wr0dPkufqAe0tys4KFSUqM2hCHgwbBCUDaisBxbUpbiELPX9WesWE
9K3TVDDq4EFiY80TwPcj24jp1CS9cNO6krvGOkfsGRIBj/NstoiklGyOIJ/jnhWy
ttjm+aKZrXSFlmYXc9OO5hsHtFNXwP4qip6N88TYZfGJmW02G+vn8LYhlqVopjJT
dVxXBNHlfbVrkhxfgVPUymOgv5PJOPKpW8ya8MTdoD8IA1L7Ef5zSWLOYqeKC47b
euHxnulrNB65W58p6I1cwLIzcEfuOPK4kQd47IuCLsitrSroSp7qXKVRtYIy1wqt
Y/hl0yE7ZQhzRFiz
=JIri
-----END PGP MESSAGE-----
