[user]
	email = bohdanbuchok@gmail.com
	name = Bohdan Buchok
[init]
	defaultbranch = main
[pull]
	rebase = true
[core]
	editor = nvim
	sshCommand = ssh -i ~/.ssh/github-2
[alias]
	shl = log --pretty=oneline --abbrev-commit
  ci = commit -v
  dl = -c diff.external=difft log -p --ext-diff
  ds = -c diff.external=difft show --ext-diff
  dft = -c diff.external=difft diff
[pager]
	branch = false
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[color "branch"]
  remote = yellow
[status]
	hints = false
[advice]
  statusHints = false
  detachedHead = false
[push]
	autoSetupRemote = true
