[Desktop Entry]
Type=Application
Name=Pers Setup
Exec=kitty -e bash -c '/home/bchk/pers/scripts/login.sh'
Terminal=false
X-GNOME-Autostart-enabled=true
Hidden=false
NoDisplay=false
