[Desktop Entry]
Type=Application
Name=PasswordManager
Exec=/home/bchk/pers/scripts/keepassxc.sh
Categories=Utility;Security;
NoDisplay=false
Hidden=false
Terminal=false
X-GNOME-Autostart-enabled=true
