[Desktop Entry]
Type=Application
Name=Pers Setup
Exec=env DEBUG=true kitty -e bash -c '/home/bchk/pers/scripts/setup/index.sh'
Terminal=false
X-GNOME-Autostart-enabled=true
Hidden=false
NoDisplay=false
