-----BEGIN PGP MESSAGE-----

hF4D7/9t5OpFi7oSAQdA/StDGlH/ArXibqtihx54IeVpUjnR1E1TK96/fcEUbT0w
DpWZf6vDYF083bzOmd2VAKenpcUBMeRIp3LvX9L4h+r83MHhtpsSf39FCKjp1bux
0nEBiwiO6thwwiY8ov8uZmQuPwk8h1QZN2mXxl6Bb2BhvvLAJvcO3095PNEieE8K
mhi9fmeXYKxjaZyNAfKUmKM7FGjNVZyntCPOYTvzYiivh9tW8TNj/6raZRYxxL4V
V9TMjt1TNys5BtlNQmjE9lNktg==
=SFTP
-----END PGP MESSAGE-----
