-----BEGIN PGP MESSAGE-----

hF4D7/9t5OpFi7oSAQdAoA0GBmDyDU6yp6TCEWSbYtm7AOZCvvBaxedhUvlOBiUw
w9B0pXQNbEIlHWmpcmdT1tptIrGW/wOhJPhMcBlfQfj3qsn8Pm4OeEJJRl0q0Pp0
0nEBEYvfNMoU4KDTe3p+10UbDSzytStJSlrlAjUtqAF2yxYojS5NdAyaF6D6AUZ3
q/u8+2T+RmfjVNmXANHIPWSl1b4/8JHFhJc6IkCPH7V8ThKu242ysjh+OR1YeUtm
5haP/23UDjPrOQTmc5adSWJrIQ==
=g9rw
-----END PGP MESSAGE-----
